# Basic Data Cleaning and Preprocessing

In [1]:
# Import the necessary libraries
import pandas as pd
import numpy as np
from skimpy import skim

/Users/dhanushlalitha/miniconda3/envs/tensorflow/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# Load the data
data = pd.read_csv("../data/lending_club_loan_two.csv", encoding = "ISO-8859-1")

In [4]:
data['grade']

0         B
1         B
2         B
3         A
4         C
         ..
396025    B
396026    C
396027    B
396028    C
396029    C
Name: grade, Length: 396030, dtype: object

In [5]:
print(data.columns)

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose', 'title',
       'dti', 'earliest_cr_line', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'application_type',
       'mort_acc', 'pub_rec_bankruptcies', 'address'],
      dtype='object')

For each of these features, we check the description in the Data Dictionary and only keep the features that would have been available to investors considering an investment in the loan. These include features in the loan application, and any features added by LendingClub when the loan listing was accepted, such as the loan grade and interest rate.

I'm using my best available knowledge to determine which loan features are known to potential investors. I am not an investor on LendingClub, so my knowledge of the LendingClub investment process is not exact. When in doubt, I err on the side of dropping the feature.

In [6]:
# keep_list = ['addr_state', 'annual_inc', 'application_type', 'dti', 'earliest_cr_line', 'emp_length', 'emp_title', 'fico_range_high', 'fico_range_low', 'grade', 'home_ownership', 'id', 'initial_list_status', 'installment', 'int_rate', 'issue_d', 'loan_amnt', 'loan_status', 'mort_acc', 'open_acc', 'pub_rec', 'pub_rec_bankruptcies', 'purpose', 'revol_bal', 'revol_util', 'sub_grade', 'term', 'title', 'total_acc', 'verification_status', 'zip_code']

In [7]:
df = data.copy()

In [8]:
# df = df[[col for col in df.columns if col in keep_list]]

In [9]:
df.head()

,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36 months,11.44,329.48,B,B4,Marketing,10+ years,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,Vacation,26.24,Jun-1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\r\nMendozaberg, OK 22690"
1,8000.0,36 months,11.99,265.68,B,B5,Credit analyst,4 years,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,Debt consolidation,22.05,Jul-2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\r\nLoganmouth, SD 05113"
2,15600.0,36 months,10.49,506.97,B,B3,Statistician,< 1 year,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,Credit card refinancing,12.79,Aug-2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\r\nNew Sabrina, WV 05113"
3,7200.0,36 months,6.49,220.65,A,A2,Client Advocate,6 years,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,Credit card refinancing,2.60,Sep-2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,"823 Reid Ford\r\nDelacruzside, MA 00813"
4,24375.0,60 months,17.27,609.33,C,C5,Destiny Management Inc.,9 years,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,Credit Card Refinance,33.95,Mar-1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,"679 Luna Roads\r\nGreggshire, VA 11650"

In [10]:
len(df.columns)

27

In [11]:
# check for missing values
df.isnull().sum()

loan_amnt                   0
term                        0
int_rate                    0
installment                 0
grade                       0
sub_grade                   0
emp_title               22927
emp_length              18301
home_ownership              0
annual_inc                  0
verification_status         0
issue_d                     0
loan_status                 0
purpose                     0
title                    1756
dti                         0
earliest_cr_line            0
open_acc                    0
pub_rec                     0
revol_bal                   0
revol_util                276
total_acc                   0
initial_list_status         0
application_type            0
mort_acc                37795
pub_rec_bankruptcies      535
address                     0
dtype: int64

In [12]:
df.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'purpose', 'title',
       'dti', 'earliest_cr_line', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'application_type',
       'mort_acc', 'pub_rec_bankruptcies', 'address'],
      dtype='object')

# Data Cleaning - 
| Variable    | Description                                                                |
|-------------|----------------------------------------------------------------------------|
| loan_amnt      | Loan amount in dollars                                                     |
| term        | Loan term is 36 or 60 months                                              |
| int_rate        | Interest rate as a decimal                                                 |
| installment     | Monthly payment amount                                                     |
| grade       | Grade of loan: A is least risk, G is most risk                            |
| sub_grade       | Sub Grade of loan                        |
| emp_title  | Job title of applicant                                                     |
| emp_length      | Time continuously employed                                                 |
| home_ownership        | Home ownership: rent, own, mortgage                                        |
| annual_inc      | Annual income in dollars                                                   |
| verification_status    | Verification status of annual income                                       |
| loan_status      | Loan status: DEFAULT, CURRENT, CHARGED OFF, etc.                           |
| purpose      | Applicant's purpose for the loan                                           |
| state       | Two-letter state code of applicant                                          |
| debtIncRat  | Ratio monthly non-mortgage debt payment to monthly income                  |
| delinq2yr   | Number of 30+ day late payments in the last two years                      |
| inq6mth     | Number of credit checks in the past 6 months                                |
| openAcc     | Number of open credit lines                                                |
| pubRec      | Number of derogatory public records including bankruptcy filings, tax liens, etc. |
| revolRatio  | Proportion of revolving credit in use                                       |
| total_acc    | Total number of credit lines in file, includes both open and closed accounts |
| totalPaid   | Total amount repaid to bank (THIS IS NOT A PREDICTOR SINCE IT CAN ONLY BE DETERMINED AFTER A LOAN IS

In [13]:

# Identifying columns with multiple data types
columns_with_multiple_datatypes = df.columns[df.map(type).nunique() > 1]

# Displaying the names
print("Columns with Multiple Data Types and Their Data Types:")
for column in columns_with_multiple_datatypes:
    unique_datatypes = df[column].apply(type).unique()
    print(f"{column}: {', '.join(str(dt) for dt in unique_datatypes)}")

Columns with Multiple Data Types and Their Data Types:
emp_title: <class 'str'>, <class 'float'>
emp_length: <class 'str'>, <class 'float'>
title: <class 'str'>, <class 'float'>

### 2. loan_amt

In [14]:
# convert amount to numeric
df['loan_amnt'] = pd.to_numeric(df['loan_amnt'], errors='coerce')
# check for null or non numeric values
print(df['loan_amnt'].isna().sum(),  df['loan_amnt'].isnull().sum())

0 0

### 3. term

In [15]:
df['term'].value_counts() #No cleaning required

term
36 months    302005
60 months     94025
Name: count, dtype: int64

In [16]:
#Removing Extra Space in the column
df['term'] = df['term'].str.strip()

# Rename the 'term' column to 'term (months)'
df.rename(columns={'term': 'term (months)'}, inplace=True)

# Remove 'months' from the values in the 'term (months)' column
df['term (months)'] = df['term (months)'].str.replace(' months', '')

# Convert the 'term (months)' column to integer type
df['term (months)'] = df['term (months)'].astype(int)

### 4. int_rate

In [17]:
# convert the rate to numeric
df['int_rate'] = pd.to_numeric(df['int_rate'], errors='coerce')
# check for null or non numeric values
print(df['int_rate'].isna().sum(),  df['int_rate'].isnull().sum())

0 0

### 5. installment

In [18]:
# convert the rate to numeric
df['installment'] = pd.to_numeric(df['installment'], errors='coerce')
# check for null or non numeric values
print(df['installment'].isna().sum(),  df['installment'].isnull().sum())

0 0

### 6. grade

In [19]:
df['grade'].value_counts(dropna=False).sort_index() #No cleaning required

grade
A     64187
B    116018
C    105987
D     63524
E     31488
F     11772
G      3054
Name: count, dtype: int64

In [20]:
print(df['grade'].isna().sum(),  df['grade'].isnull().sum())#No cleaning required

0 0

We can safely remove the 'grade' feature since the information it contains is already captured within the more detailed 'sub_grade' feature.

In [21]:
df.drop('grade', axis=1, inplace=True)

### 7. sub_grade

In [23]:
df['sub_grade'].value_counts(dropna=False).sort_index()

sub_grade
A1     9729
A2     9567
A3    10576
A4    15789
A5    18526
B1    19182
B2    22495
B3    26655
B4    25601
B5    22085
C1    23662
C2    22580
C3    21221
C4    20280
C5    18244
D1    15993
D2    13951
D3    12223
D4    11657
D5     9700
E1     7917
E2     7431
E3     6207
E4     5361
E5     4572
F1     3536
F2     2766
F3     2286
F4     1787
F5     1397
G1     1058
G2      754
G3      552
G4      374
G5      316
Name: count, dtype: int64

In [24]:
print(df['sub_grade'].isna().sum(),  df['sub_grade'].isnull().sum())#No cleaning required for sub_grade

0 0

In [25]:
# df.drop('sub_grade', axis=1, inplace=True)

### 8. emp_title

In [26]:
#records with null employment
print(df[df['emp_title'].isna()] )# 2784 records data not available for employment

        loan_amnt  term (months)  int_rate  installment sub_grade emp_title  \
35         5375.0             36     13.11       181.39        B4       NaN
36         3250.0             36     16.78       115.52        C5       NaN
40        35000.0             60     16.99       869.66        D1       NaN
49        15000.0             36      7.89       469.29        A5       NaN
58        10000.0             36     17.56       359.33        D1       NaN
...           ...            ...       ...          ...       ...       ...
395946    35000.0             60     16.20       854.86        C4       NaN
395963     7000.0             36     20.20       260.86        E3       NaN
395988    35000.0             60     15.59       843.53        D1       NaN
395999    11125.0             36     24.11       437.11        F2       NaN
396015     4000.0             36      9.16       127.50        B2       NaN

       emp_length home_ownership  annual_inc verification_status   issue_d  \
35            NaN           RENT    34000.00            Verified  May-2013
36            NaN           RENT    22500.00            Verified  Aug-2013
40        4 years       MORTGAGE   130000.00            Verified  Feb-2014
49            NaN       MORTGAGE    90000.00            Verified  Apr-2016
58            NaN       MORTGAGE    32000.00            Verified  Jul-2013
...           ...            ...         ...                 ...       ...
395946        NaN       MORTGAGE    84000.00            Verified  Oct-2013
395963        NaN            OWN    32964.00            Verified  Jun-2014
395988        NaN            OWN   102396.00            Verified  Nov-2014
395999        NaN       MORTGAGE    31789.88            Verified  Feb-2016
396015        NaN       MORTGAGE    57400.00        Not Verified  Mar-2016

        loan_status             purpose                title    dti  \
35       Fully Paid         credit_card  Pay Off Credit Card  26.12
36      Charged Off  debt_consolidation                Cover  18.76
40       Fully Paid  debt_consolidation   Debt consolidation  14.03
49       Fully Paid  debt_consolidation   Debt consolidation  11.75
58       Fully Paid  debt_consolidation   debt consolidation   9.83
...             ...                 ...                  ...    ...
395946   Fully Paid  debt_consolidation              my loan   9.83
395963   Fully Paid             medical     Medical expenses   6.33
395988   Fully Paid  debt_consolidation   Debt consolidation  30.69
395999  Charged Off               other                Other  26.65
396015   Fully Paid               other                Other  14.13

       earliest_cr_line  open_acc  pub_rec  revol_bal  revol_util  total_acc  \
35             Apr-1998       9.0      1.0    14998.0        88.7       20.0
36             Jun-2009       7.0      0.0     7587.0        54.6        7.0
40             Aug-1992      10.0      0.0    34130.0        53.8       27.0
49             Aug-1994       7.0      0.0     8205.0        93.2       18.0
58             Sep-2006       6.0      0.0    11615.0        82.4        7.0
...                 ...       ...      ...        ...         ...        ...
395946         Jul-2001       7.0      0.0     4241.0        18.8       21.0
395963         Jan-2004      24.0      1.0     3236.0         9.7       44.0
395988         Aug-1983      15.0      0.0    31665.0        32.4       33.0
395999         May-1989       8.0      0.0    22385.0        81.0       24.0
396015         Dec-1977      12.0      0.0     3134.0         5.8       27.0

       initial_list_status application_type  mort_acc  pub_rec_bankruptcies  \
35                       f       INDIVIDUAL       5.0                   1.0
36                       f       INDIVIDUAL       0.0                   0.0
40                       f       INDIVIDUAL      10.0                   0.0
49                       w       INDIVIDUAL       6.0                   0.0
58                       w       INDIVIDUAL       0.0                   0.0
...                    ...              ...       ...                   ...
395946                   w       INDIVIDUAL       5.0                   0.0
395963                   w       INDIVIDUAL       0.0                   1.0
395988                   w       INDIVIDUAL       1.0                   0.0
395999                   w       INDIVIDUAL       4.0                   0.0
396015                   w       INDIVIDUAL       5.0                   0.0

                                                  address
35           23617 Michael Viaduct\r\nWest John, MS 05113
36            361 Erica Forest\r\nLake Mariaton, TN 30723
40      8268 Reed Gardens Suite 996\r\nEast Johnmouth,...
49      84009 David Stream\r\nSouth Nicolehaven, IL 05113
58               965 Spencer Courts\r\nPacetown, AZ 00813
...                                                   ...
395946           2645 Wayne Street\r\nMarymouth, HI 22690
395963  8339 Daniel Forges Suite 273\r\nPort Oscarmout...
395988             114 Sonya Pass\r\nCarlamouth, SD 00813
395999     1314 Bridget Terrace\r\nRebeccashire, NE 30723
396015                 Unit 4067 Box 2110\r\nDPO AA 05113

[22927 rows x 26 columns]

On inspection of above records we find that though the emp_title is empty most of these employees have their annual incomes submitted. Therefore we create new category called self employed to handle the cases where emp_title is not available but annual income is present.

In [27]:
df['emp_title'] = df['emp_title'].fillna('Self Employed')

In [28]:
df['emp_title'].value_counts(dropna=False).sort_index()

emp_title
       NSA Industries llc             1
   Fibro Source                       1
   Long Ilsand College Hospital       1
   mortgage banker                    1
  Credit rev specialist               1
                                     ..
zozaya officiating                    1
zs backroom                           1
zueck transportation                  1
zulily                                1
âLicense Compliance Investigator    1
Name: count, Length: 173105, dtype: int64

In [29]:
# too many emp_titles, dropping column
df.drop('emp_title', axis=1, inplace=True)

### 9. emp_length
Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

In [30]:
df['emp_length'].value_counts(dropna=False).sort_index()

emp_length
1 year        25882
10+ years    126041
2 years       35827
3 years       31665
4 years       23952
5 years       26495
6 years       20841
7 years       20819
8 years       19168
9 years       15314
< 1 year      31725
NaN           18301
Name: count, dtype: int64

1. There are 146907 records with no info on emp_length ( Should decide while processing data if we want to retain these records or not)
2. Data does not follow the descritpion in data dictionary

In [31]:
#Get emp_length to consistent format as per data dictionary
df['emp_length'] = df['emp_length'].replace(to_replace='10+ years', value='10 years') # represent 10 or 10+ years
df['emp_length'] = df['emp_length'].replace('< 1 year', '0 years')

In [32]:
#Convert it to integer categories
df['emp_length'] = df['emp_length'].apply(lambda s: np.nan if pd.isnull(s) else int(s.split()[0]))

In [33]:
df['emp_length'].value_counts(dropna=False).sort_index()

emp_length
0.0      31725
1.0      25882
2.0      35827
3.0      31665
4.0      23952
5.0      26495
6.0      20841
7.0      20819
8.0      19168
9.0      15314
10.0    126041
NaN      18301
Name: count, dtype: int64

In [34]:
df['emp_length'].isna().sum()

18301

In [35]:
df = df.dropna(subset= ['emp_length'])
df.reset_index(drop=True)

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,Vacation,26.24,Jun-1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\r\nMendozaberg, OK 22690"
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,Debt consolidation,22.05,Jul-2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\r\nLoganmouth, SD 05113"
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,Credit card refinancing,12.79,Aug-2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\r\nNew Sabrina, WV 05113"
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,Credit card refinancing,2.60,Sep-2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,"823 Reid Ford\r\nDelacruzside, MA 00813"
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,Credit Card Refinance,33.95,Mar-1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,"679 Luna Roads\r\nGreggshire, VA 11650"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377724,10000.0,60,10.99,217.38,B4,2.0,RENT,40000.0,Source Verified,Oct-2015,Fully Paid,debt_consolidation,Debt consolidation,15.63,Nov-2004,6.0,0.0,1990.0,34.3,23.0,w,INDIVIDUAL,0.0,0.0,"12951 Williams Crossing\r\nJohnnyville, DC 30723"
377725,21000.0,36,12.29,700.42,C1,5.0,MORTGAGE,110000.0,Source Verified,Feb-2015,Fully Paid,debt_consolidation,Debt consolidation,21.45,Feb-2006,6.0,0.0,43263.0,95.7,8.0,f,INDIVIDUAL,1.0,0.0,"0114 Fowler Field Suite 028\r\nRachelborough, ..."
377726,5000.0,36,9.99,161.32,B1,10.0,RENT,56500.0,Verified,Oct-2013,Fully Paid,debt_consolidation,pay off credit cards,17.56,Mar-1997,15.0,0.0,32704.0,66.9,23.0,f,INDIVIDUAL,0.0,0.0,"953 Matthew Points Suite 414\r\nReedfort, NY 7..."
377727,21000.0,60,15.31,503.02,C2,10.0,MORTGAGE,64000.0,Verified,Aug-2012,Fully Paid,debt_consolidation,Loanforpayoff,15.88,Nov-1990,9.0,0.0,15704.0,53.8,20.0,f,INDIVIDUAL,5.0,0.0,"7843 Blake Freeway Apt. 229\r\nNew Michael, FL..."
377728,2000.0,36,13.61,67.98,C2,10.0,RENT,42996.0,Verified,Jun-2010,Fully Paid,debt_consolidation,Toxic Debt Payoff,8.32,Sep-1998,3.0,0.0,4292.0,91.3,19.0,f,INDIVIDUAL,NaN,0.0,"787 Michelle Causeway\r\nBriannaton, AR 48052"

### 10. home_ownership

In [36]:
df['home_ownership'].value_counts(dropna=False).sort_index()

home_ownership
ANY              3
MORTGAGE    189768
NONE            30
OTHER          109
OWN          34352
RENT        153467
Name: count, dtype: int64

As any and none dont give any particular information about home_ownership we are gonna merge these categories into OTHER

In [37]:
df['home_ownership'] = df['home_ownership'].replace(['NONE', 'ANY'], 'OTHER')

In [38]:
df['home_ownership'].value_counts(dropna=False).sort_index()

home_ownership
MORTGAGE    189768
OTHER          142
OWN          34352
RENT        153467
Name: count, dtype: int64

### 11. annual_inc

In [39]:
# convert the rate to numeric
df['annual_inc'] = pd.to_numeric(df['annual_inc'], errors='coerce')
# check for null or non numeric values
print(df['annual_inc'].isna().sum(),  df['annual_inc'].isnull().sum())

0 0

In [40]:
print(df[df['annual_inc'].isna()])

Empty DataFrame
Columns: [loan_amnt, term (months), int_rate, installment, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, dti, earliest_cr_line, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, application_type, mort_acc, pub_rec_bankruptcies, address]
Index: []

 We are gonna remove these records as emp_title ( was not available originally nor annual income) and lot of pther columns are missing

In [41]:
df = df.dropna(subset=['annual_inc'])
df.reset_index(drop=True)

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,title,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,address
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,Vacation,26.24,Jun-1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,"0174 Michelle Gateway\r\nMendozaberg, OK 22690"
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,Debt consolidation,22.05,Jul-2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,"1076 Carney Fort Apt. 347\r\nLoganmouth, SD 05113"
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,Credit card refinancing,12.79,Aug-2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,"87025 Mark Dale Apt. 269\r\nNew Sabrina, WV 05113"
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,Credit card refinancing,2.60,Sep-2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,"823 Reid Ford\r\nDelacruzside, MA 00813"
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,Credit Card Refinance,33.95,Mar-1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,"679 Luna Roads\r\nGreggshire, VA 11650"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377724,10000.0,60,10.99,217.38,B4,2.0,RENT,40000.0,Source Verified,Oct-2015,Fully Paid,debt_consolidation,Debt consolidation,15.63,Nov-2004,6.0,0.0,1990.0,34.3,23.0,w,INDIVIDUAL,0.0,0.0,"12951 Williams Crossing\r\nJohnnyville, DC 30723"
377725,21000.0,36,12.29,700.42,C1,5.0,MORTGAGE,110000.0,Source Verified,Feb-2015,Fully Paid,debt_consolidation,Debt consolidation,21.45,Feb-2006,6.0,0.0,43263.0,95.7,8.0,f,INDIVIDUAL,1.0,0.0,"0114 Fowler Field Suite 028\r\nRachelborough, ..."
377726,5000.0,36,9.99,161.32,B1,10.0,RENT,56500.0,Verified,Oct-2013,Fully Paid,debt_consolidation,pay off credit cards,17.56,Mar-1997,15.0,0.0,32704.0,66.9,23.0,f,INDIVIDUAL,0.0,0.0,"953 Matthew Points Suite 414\r\nReedfort, NY 7..."
377727,21000.0,60,15.31,503.02,C2,10.0,MORTGAGE,64000.0,Verified,Aug-2012,Fully Paid,debt_consolidation,Loanforpayoff,15.88,Nov-1990,9.0,0.0,15704.0,53.8,20.0,f,INDIVIDUAL,5.0,0.0,"7843 Blake Freeway Apt. 229\r\nNew Michael, FL..."
377728,2000.0,36,13.61,67.98,C2,10.0,RENT,42996.0,Verified,Jun-2010,Fully Paid,debt_consolidation,Toxic Debt Payoff,8.32,Sep-1998,3.0,0.0,4292.0,91.3,19.0,f,INDIVIDUAL,NaN,0.0,"787 Michelle Causeway\r\nBriannaton, AR 48052"

In [42]:
print(df[df['annual_inc'].isna()])

Empty DataFrame
Columns: [loan_amnt, term (months), int_rate, installment, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, dti, earliest_cr_line, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, application_type, mort_acc, pub_rec_bankruptcies, address]
Index: []

### 12. verification_status

In [43]:
df['verification_status'].value_counts(dropna=False).sort_index()

verification_status
Not Verified       123320
Source Verified    127775
Verified           126634
Name: count, dtype: int64

Nothing to clean

### 13. issue_d

In [44]:
print(df[df['issue_d'].isnull()])

Empty DataFrame
Columns: [loan_amnt, term (months), int_rate, installment, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, title, dti, earliest_cr_line, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, application_type, mort_acc, pub_rec_bankruptcies, address]
Index: []

Nothing to clean

### 14. loan_status

In [45]:
df['loan_status'].value_counts(dropna=False).sort_index()

loan_status
Charged Off     72635
Fully Paid     305094
Name: count, dtype: int64

In our project, we're investigating what sets apart loans that were successfully repaid from those that ended up in default. We're excluding loans that are still ongoing, don't meet our credit standards, are already in default, or have incomplete status information. Our focus is solely on loans that have either been fully paid off or written off as losses. This approach helps us pinpoint the factors that influence whether a loan will be repaid in full or not

In [46]:
df = df.loc[df['loan_status'].isin(['Fully Paid', 'Charged Off'])]

### 15. purpose

In [47]:
df['purpose'].value_counts(dropna=False).sort_index()

purpose
car                     4484
credit_card            78877
debt_consolidation    224522
educational              252
home_improvement       22635
house                   2115
major_purchase          8364
medical                 3903
moving                  2699
other                  19941
renewable_energy         311
small_business          5549
vacation                2291
wedding                 1786
Name: count, dtype: int64

### 16. title

In [48]:
df['title'].value_counts(dropna=False).head()

title
Debt consolidation         145300
Credit card refinancing     48740
Home improvement            14310
Other                       12126
Debt Consolidation          11383
Name: count, dtype: int64

In [49]:
df['title'].value_counts(dropna=False)

title
Debt consolidation                        145300
Credit card refinancing                    48740
Home improvement                           14310
Other                                      12126
Debt Consolidation                         11383
                                           ...
Moving and Paying for Furinture                1
payoffcreditcard                               1
House construction and pool                    1
Consolidate Credit Cards and Auto Loan         1
Toxic Debt Payoff                              1
Name: count, Length: 47109, dtype: int64

There are 61k titles , based on top values this info is already present in purpose so we drop this column

In [50]:
df.drop('title', axis=1, inplace=True)

### 17. zip_code

In [51]:
df['zip_code'] = df['address'].apply(lambda x: x[-5:])

900+ zip codes, too much for a categorical varibale. there are 51 states whcih is comparatively smaller we drop zip codes and keep states

In [52]:
df.drop('address', axis=1, inplace=True)

### 19. dti

A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.

In [53]:
# convert the rate to numeric
df['dti'] = pd.to_numeric(df['dti'], errors='coerce')
# check for null or non numeric values
print(df['dti'].isna().sum(),  df['dti'].isnull().sum())

0 0

In [54]:
print(df[df['dti'].isna()])

Empty DataFrame
Columns: [loan_amnt, term (months), int_rate, installment, sub_grade, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, purpose, dti, earliest_cr_line, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, application_type, mort_acc, pub_rec_bankruptcies, zip_code]
Index: []

In [55]:
#drop records where dti is not available
df = df.dropna(subset=['dti'])
df.reset_index(drop=True)

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,zip_code
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,26.24,Jun-1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,22690
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,22.05,Jul-2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,05113
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,12.79,Aug-2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,05113
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,2.60,Sep-2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,00813
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,33.95,Mar-1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,11650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377724,10000.0,60,10.99,217.38,B4,2.0,RENT,40000.0,Source Verified,Oct-2015,Fully Paid,debt_consolidation,15.63,Nov-2004,6.0,0.0,1990.0,34.3,23.0,w,INDIVIDUAL,0.0,0.0,30723
377725,21000.0,36,12.29,700.42,C1,5.0,MORTGAGE,110000.0,Source Verified,Feb-2015,Fully Paid,debt_consolidation,21.45,Feb-2006,6.0,0.0,43263.0,95.7,8.0,f,INDIVIDUAL,1.0,0.0,05113
377726,5000.0,36,9.99,161.32,B1,10.0,RENT,56500.0,Verified,Oct-2013,Fully Paid,debt_consolidation,17.56,Mar-1997,15.0,0.0,32704.0,66.9,23.0,f,INDIVIDUAL,0.0,0.0,70466
377727,21000.0,60,15.31,503.02,C2,10.0,MORTGAGE,64000.0,Verified,Aug-2012,Fully Paid,debt_consolidation,15.88,Nov-1990,9.0,0.0,15704.0,53.8,20.0,f,INDIVIDUAL,5.0,0.0,29597
377728,2000.0,36,13.61,67.98,C2,10.0,RENT,42996.0,Verified,Jun-2010,Fully Paid,debt_consolidation,8.32,Sep-1998,3.0,0.0,4292.0,91.3,19.0,f,INDIVIDUAL,NaN,0.0,48052

In [56]:
df.head()

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,zip_code
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,26.24,Jun-1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,22690
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,22.05,Jul-2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,05113
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,12.79,Aug-2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,05113
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,2.60,Sep-2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,00813
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,33.95,Mar-1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,11650

### 20. earliest_cr_line
 "The month the borrower's earliest reported credit line was opened."

In [57]:
df['earliest_cr_line'].isnull().sum()

0

In [58]:
df['earliest_cr_line'].sample(5)

127689    Apr-1999
58603     Dec-1994
222612    Jun-2002
211014    Nov-1986
109895    Jul-1994
Name: earliest_cr_line, dtype: object

In [59]:
# For simplicity purpose we keep year only

In [60]:
df['earliest_cr_line'] = df['earliest_cr_line'].apply(lambda s: int(s[-4:]))

### 23. open_acc
The number of open credit lines in the borrower's credit file.

In [61]:
# convert the rate to numeric
df['open_acc'] = pd.to_numeric(df['open_acc'], errors='coerce')
# check for null or non numeric values
print(df['open_acc'].isna().sum(),  df['open_acc'].isnull().sum())

0 0

### 24. pub_rec
Number of derogatory public records.

In [62]:
# convert the rate to numeric
df['pub_rec'] = pd.to_numeric(df['pub_rec'], errors='coerce')
# check for null or non numeric values
print(df['pub_rec'].isna().sum(),  df['pub_rec'].isnull().sum())

0 0

### 25. revol_bal
Total credit revolving balance.

In [63]:
# convert the rate to numeric
df['revol_bal'] = pd.to_numeric(df['revol_bal'], errors='coerce')
# check for null or non numeric values
print(df['revol_bal'].isna().sum(),  df['revol_bal'].isnull().sum())

0 0

### 26. revol_util
Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit

In [64]:
# convert the rate to numeric
df['revol_util'] = pd.to_numeric(df['revol_util'], errors='coerce')
# check for null or non numeric values
print(df['revol_util'].isna().sum(),  df['revol_util'].isnull().sum())

265 265

In [65]:
df.head()

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,zip_code
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,26.24,1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,22690
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,22.05,2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,05113
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,12.79,2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,05113
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,2.60,2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,00813
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,33.95,1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,11650

In [66]:
# drop records where na
df = df.dropna(subset=['revol_util'])
df.reset_index(drop=True)

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,zip_code
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,26.24,1990,16.0,0.0,36369.0,41.8,25.0,w,INDIVIDUAL,0.0,0.0,22690
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,22.05,2004,17.0,0.0,20131.0,53.3,27.0,f,INDIVIDUAL,3.0,0.0,05113
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,12.79,2007,13.0,0.0,11987.0,92.2,26.0,f,INDIVIDUAL,0.0,0.0,05113
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,2.60,2006,6.0,0.0,5472.0,21.5,13.0,f,INDIVIDUAL,0.0,0.0,00813
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,33.95,1999,13.0,0.0,24584.0,69.8,43.0,f,INDIVIDUAL,1.0,0.0,11650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377459,10000.0,60,10.99,217.38,B4,2.0,RENT,40000.0,Source Verified,Oct-2015,Fully Paid,debt_consolidation,15.63,2004,6.0,0.0,1990.0,34.3,23.0,w,INDIVIDUAL,0.0,0.0,30723
377460,21000.0,36,12.29,700.42,C1,5.0,MORTGAGE,110000.0,Source Verified,Feb-2015,Fully Paid,debt_consolidation,21.45,2006,6.0,0.0,43263.0,95.7,8.0,f,INDIVIDUAL,1.0,0.0,05113
377461,5000.0,36,9.99,161.32,B1,10.0,RENT,56500.0,Verified,Oct-2013,Fully Paid,debt_consolidation,17.56,1997,15.0,0.0,32704.0,66.9,23.0,f,INDIVIDUAL,0.0,0.0,70466
377462,21000.0,60,15.31,503.02,C2,10.0,MORTGAGE,64000.0,Verified,Aug-2012,Fully Paid,debt_consolidation,15.88,1990,9.0,0.0,15704.0,53.8,20.0,f,INDIVIDUAL,5.0,0.0,29597
377463,2000.0,36,13.61,67.98,C2,10.0,RENT,42996.0,Verified,Jun-2010,Fully Paid,debt_consolidation,8.32,1998,3.0,0.0,4292.0,91.3,19.0,f,INDIVIDUAL,NaN,0.0,48052

### 27. total_acc
The total number of credit lines currently in the borrower's credit file."

In [67]:
# convert the rate to numeric
df['total_acc'] = pd.to_numeric(df['total_acc'], errors='coerce')
# check for null or non numeric values
print(df['total_acc'].isna().sum(),  df['total_acc'].isnull().sum())

0 0

### 28. initial_list_status
The initial listing status of the loan

In [68]:
df['initial_list_status'].value_counts(dropna=False).sort_index()

initial_list_status
f    227121
w    150343
Name: count, dtype: int64

In [69]:
# mapping 'w' and 'f' to their corresponding descriptions
status_mapping = {'w': 'Whole Funded', 'f': 'Fractional Funded'}

# Replacing 'w' and 'f'
df['initial_list_status'] = df['initial_list_status'].replace(status_mapping)

### 29. application_type

In [70]:
df['application_type'].value_counts(dropna=False).sort_index()

application_type
DIRECT_PAY       261
INDIVIDUAL    376827
JOINT            376
Name: count, dtype: int64

### 30. mort_acc
Number of mortgage accounts

In [71]:
# convert the rate to numeric
df['mort_acc'] = pd.to_numeric(df['mort_acc'], errors='coerce')
# check for null or non numeric values
print(df['mort_acc'].isna().sum(),  df['mort_acc'].isnull().sum())

36689 36689

In [72]:
df['mort_acc'].value_counts(dropna=False).sort_index()

mort_acc
0.0     133311
1.0      57827
2.0      47539
3.0      35968
4.0      26354
5.0      17174
6.0      10440
7.0       5685
8.0       2963
9.0       1562
10.0       818
11.0       449
12.0       247
13.0       136
14.0       104
15.0        60
16.0        36
17.0        21
18.0        17
19.0        14
20.0        12
21.0         4
22.0         7
23.0         2
24.0         9
25.0         4
26.0         2
27.0         3
28.0         1
30.0         1
31.0         2
32.0         2
34.0         1
NaN      36689
Name: count, dtype: int64

In [73]:
# drop records were mortgage accounts in not availbale
df = df.dropna(subset= ['mort_acc'])
df.reset_index(drop=True)

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,zip_code
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,26.24,1990,16.0,0.0,36369.0,41.8,25.0,Whole Funded,INDIVIDUAL,0.0,0.0,22690
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,22.05,2004,17.0,0.0,20131.0,53.3,27.0,Fractional Funded,INDIVIDUAL,3.0,0.0,05113
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,12.79,2007,13.0,0.0,11987.0,92.2,26.0,Fractional Funded,INDIVIDUAL,0.0,0.0,05113
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,2.60,2006,6.0,0.0,5472.0,21.5,13.0,Fractional Funded,INDIVIDUAL,0.0,0.0,00813
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,33.95,1999,13.0,0.0,24584.0,69.8,43.0,Fractional Funded,INDIVIDUAL,1.0,0.0,11650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340770,6000.0,36,13.11,202.49,B4,5.0,RENT,64000.0,Not Verified,Mar-2013,Fully Paid,debt_consolidation,10.81,1991,7.0,0.0,11456.0,97.1,9.0,Whole Funded,INDIVIDUAL,0.0,0.0,05113
340771,10000.0,60,10.99,217.38,B4,2.0,RENT,40000.0,Source Verified,Oct-2015,Fully Paid,debt_consolidation,15.63,2004,6.0,0.0,1990.0,34.3,23.0,Whole Funded,INDIVIDUAL,0.0,0.0,30723
340772,21000.0,36,12.29,700.42,C1,5.0,MORTGAGE,110000.0,Source Verified,Feb-2015,Fully Paid,debt_consolidation,21.45,2006,6.0,0.0,43263.0,95.7,8.0,Fractional Funded,INDIVIDUAL,1.0,0.0,05113
340773,5000.0,36,9.99,161.32,B1,10.0,RENT,56500.0,Verified,Oct-2013,Fully Paid,debt_consolidation,17.56,1997,15.0,0.0,32704.0,66.9,23.0,Fractional Funded,INDIVIDUAL,0.0,0.0,70466
340774,21000.0,60,15.31,503.02,C2,10.0,MORTGAGE,64000.0,Verified,Aug-2012,Fully Paid,debt_consolidation,15.88,1990,9.0,0.0,15704.0,53.8,20.0,Fractional Funded,INDIVIDUAL,5.0,0.0,29597

### 31. pub_rec_bankruptcies
Number of public record bankruptcies.

In [74]:
# convert the rate to numeric
df['pub_rec_bankruptcies'] = pd.to_numeric(df['pub_rec_bankruptcies'], errors='coerce')
# check for null or non numeric values
print(df['pub_rec_bankruptcies'].isna().sum(),  df['pub_rec_bankruptcies'].isnull().sum())

0 0

In [75]:
df['pub_rec_bankruptcies'].value_counts(dropna=False).sort_index()

pub_rec_bankruptcies
0.0    300790
1.0     37821
2.0      1718
3.0       331
4.0        74
5.0        30
6.0         5
7.0         4
8.0         2
Name: count, dtype: int64

In [76]:
# drop records weere pub_rec_bankruptcies accounts in not availbale
df = df.dropna(subset= ['pub_rec_bankruptcies'])
df.reset_index(drop=True)

,loan_amnt,term (months),int_rate,installment,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,earliest_cr_line,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,application_type,mort_acc,pub_rec_bankruptcies,zip_code
0,10000.0,36,11.44,329.48,B4,10.0,RENT,117000.0,Not Verified,Jan-2015,Fully Paid,vacation,26.24,1990,16.0,0.0,36369.0,41.8,25.0,Whole Funded,INDIVIDUAL,0.0,0.0,22690
1,8000.0,36,11.99,265.68,B5,4.0,MORTGAGE,65000.0,Not Verified,Jan-2015,Fully Paid,debt_consolidation,22.05,2004,17.0,0.0,20131.0,53.3,27.0,Fractional Funded,INDIVIDUAL,3.0,0.0,05113
2,15600.0,36,10.49,506.97,B3,0.0,RENT,43057.0,Source Verified,Jan-2015,Fully Paid,credit_card,12.79,2007,13.0,0.0,11987.0,92.2,26.0,Fractional Funded,INDIVIDUAL,0.0,0.0,05113
3,7200.0,36,6.49,220.65,A2,6.0,RENT,54000.0,Not Verified,Nov-2014,Fully Paid,credit_card,2.60,2006,6.0,0.0,5472.0,21.5,13.0,Fractional Funded,INDIVIDUAL,0.0,0.0,00813
4,24375.0,60,17.27,609.33,C5,9.0,MORTGAGE,55000.0,Verified,Apr-2013,Charged Off,credit_card,33.95,1999,13.0,0.0,24584.0,69.8,43.0,Fractional Funded,INDIVIDUAL,1.0,0.0,11650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340770,6000.0,36,13.11,202.49,B4,5.0,RENT,64000.0,Not Verified,Mar-2013,Fully Paid,debt_consolidation,10.81,1991,7.0,0.0,11456.0,97.1,9.0,Whole Funded,INDIVIDUAL,0.0,0.0,05113
340771,10000.0,60,10.99,217.38,B4,2.0,RENT,40000.0,Source Verified,Oct-2015,Fully Paid,debt_consolidation,15.63,2004,6.0,0.0,1990.0,34.3,23.0,Whole Funded,INDIVIDUAL,0.0,0.0,30723
340772,21000.0,36,12.29,700.42,C1,5.0,MORTGAGE,110000.0,Source Verified,Feb-2015,Fully Paid,debt_consolidation,21.45,2006,6.0,0.0,43263.0,95.7,8.0,Fractional Funded,INDIVIDUAL,1.0,0.0,05113
340773,5000.0,36,9.99,161.32,B1,10.0,RENT,56500.0,Verified,Oct-2013,Fully Paid,debt_consolidation,17.56,1997,15.0,0.0,32704.0,66.9,23.0,Fractional Funded,INDIVIDUAL,0.0,0.0,70466
340774,21000.0,60,15.31,503.02,C2,10.0,MORTGAGE,64000.0,Verified,Aug-2012,Fully Paid,debt_consolidation,15.88,1990,9.0,0.0,15704.0,53.8,20.0,Fractional Funded,INDIVIDUAL,5.0,0.0,29597

In [77]:


int_columns = ['open_acc', 'pub_rec', 'total_acc']
df[int_columns] = df[int_columns].astype(int)

In [78]:
total_missing_values = df.isnull().sum().sum()

# Determine the total number of cells in the dataset
total_cells = df.size

# Calculate the percentage of missing data
percentage_missing_data = (total_missing_values / total_cells) * 100

print("Percentage of missing data in the entire dataset:", percentage_missing_data)

Percentage of missing data in the entire dataset: 0.0

## Final Data Distribution

In [79]:
 df['loan_status'].value_counts(normalize=True)

loan_status
Fully Paid     0.802603
Charged Off    0.197397
Name: proportion, dtype: float64

Final Number of Records

In [80]:
len(df)

340775

In [81]:
#Store cleaned data
df.to_csv("../data/cleaned_data.csv", index=False)

In [82]:
skim(df)

╭──────────────────────────────────────────────── skimpy summary ─────────────────────────────────────────────────╮
│          Data Summary                Data Types                                                                 │
│ ┏━━━━━━━━━━━━━━━━━━━┳━━━━━━━━┓ ┏━━━━━━━━━━━━━┳━━━━━━━┓                                                          │
│ ┃ dataframe         ┃ Values ┃ ┃ Column Type ┃ Count ┃                                                          │
│ ┡━━━━━━━━━━━━━━━━━━━╇━━━━━━━━┩ ┡━━━━━━━━━━━━━╇━━━━━━━┩                                                          │
│ │ Number of rows    │ 340775 │ │ float64     │ 10    │                                                          │
│ │ Number of columns │ 24     │ │ string      │ 9     │                                                          │
│ └───────────────────┴────────┘ │ int64       │ 5     │                                                          │
│                                └─────────────┴───────┘                                                          │
│                                                     number                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━━━┳━━━━━━━━┓  │
│ ┃ column_name            ┃ NA  ┃ NA %  ┃ mean   ┃ sd     ┃ p0    ┃ p25    ┃ p50   ┃ p75   ┃ p100    ┃ hist   ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━━╇━━━━━━━╇━━━━━━━╇━━━━━━━━━╇━━━━━━━━┩  │
│ │ loan_amnt              │   0 │     0 │  15000 │   8400 │  1000 │   8000 │ 12000 │ 20000 │   40000 │ ▅▇▆▃▂▁ │  │
│ │ term (months)          │   0 │     0 │     42 │     10 │    36 │     36 │    36 │    36 │      60 │ ▇    ▃ │  │
│ │ int_rate               │   0 │     0 │     14 │    4.5 │   5.3 │     11 │    13 │    17 │      31 │ ▅▇▇▃▁  │  │
│ │ installment            │   0 │     0 │    450 │    250 │    22 │    260 │   390 │   590 │    1500 │ ▅▇▃▁▁  │  │
│ │ emp_length             │   0 │     0 │      6 │    3.6 │     0 │      3 │     6 │    10 │      10 │ ▃▃▁▃▂▇ │  │
│ │ annual_inc             │   0 │     0 │  76000 │  62000 │  5000 │  47000 │ 65000 │ 90000 │ 8700000 │   ▇    │  │
│ │ dti                    │   0 │     0 │     18 │    8.2 │     0 │     12 │    17 │    23 │     380 │   ▇    │  │
│ │ earliest_cr_line       │   0 │     0 │   2000 │      7 │  1900 │   2000 │  2000 │  2000 │    2000 │    ▁▇▅ │  │
│ │ open_acc               │   0 │     0 │     12 │    5.2 │     1 │      8 │    11 │    14 │      90 │   ▇▂   │  │
│ │ pub_rec                │   0 │     0 │   0.19 │   0.55 │     0 │      0 │     0 │     0 │      86 │   ▇    │  │
│ │ revol_bal              │   0 │     0 │  16000 │  21000 │     0 │   6300 │ 11000 │ 20000 │ 1700000 │   ▇    │  │
│ │ revol_util             │   0 │     0 │     54 │     24 │     0 │     37 │    55 │    73 │     890 │   ▇    │  │
│ │ total_acc              │   0 │     0 │     26 │     12 │     2 │     17 │    24 │    33 │     150 │   ▇▅   │  │
│ │ mort_acc               │   0 │     0 │    1.8 │    2.1 │     0 │      0 │     1 │     3 │      34 │   ▇▁   │  │
│ │ pub_rec_bankruptcies   │   0 │     0 │   0.13 │   0.36 │     0 │      0 │     0 │     0 │       8 │   ▇    │  │
│ └────────────────────────┴─────┴───────┴────────┴────────┴───────┴────────┴───────┴───────┴─────────┴────────┘  │
│                                                     string                                                      │
│ ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━┓  │
│ ┃ column_name                          ┃ NA    ┃ NA %      ┃ words per row            ┃ total words          ┃  │
│ ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━╇━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━┩  │
│ │ sub_grade                            │     0 │         0 │                        1 │               340775 │  │
│ │ home_ownership                       │     0 │         0 │                        1 │               340775 │  │
│ │ verification_status                  │     0 │         0 │                      1.7 │               566836 │  │
│ │ issue_d                              │     0 │         0 │                        1 │               340775 │  │
│ │ loan_status                          │     0 │         0 │                        2 │               681550 │  │
│ │ purpose                              │     0 │         0 │                        1 │               340775 │  │
│ │ initial_list_status                  │     0 │         0 │                        2 │               681550 │  │
│ │ application_type                     │     0 │         0 │                        1 │               340775 │  │
│ │ zip_code                             │     0 │         0 │                        1 │               340775 │  │
│ └──────────────────────────────────────┴───────┴───────────┴──────────────────────────┴──────────────────────┘  │
╰────────────────────────────────────────────────────── End ──────────────────────────────────────────────────────╯